# Veriye İlk Bakış

## Veri Seti Hikayesi ve Yapısının İncelenmesi

In [3]:
import seaborn as sns
planets=sns.load_dataset("planets")
planets.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [4]:
#Veri setinin hikayesi nedir?

In [5]:
df=planets.copy() #Veri setini yedekledik

In [6]:
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [7]:
df.tail()

       method  number  orbital_period  mass  distance  year
1030  Transit       1        3.941507   NaN     172.0  2006
1031  Transit       1        2.615864   NaN     148.0  2007
1032  Transit       1        3.191524   NaN     174.0  2007
1033  Transit       1        4.125083   NaN     293.0  2008
1034  Transit       1        4.187757   NaN     260.0  2008

In [8]:
#Veri Seti Yapısal Bilgiler

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1035 entries, 0 to 1034
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   method          1035 non-null   object
 1   number          1035 non-null   int64
 2   orbital_period  992 non-null    float64
 3   mass            513 non-null    float64
 4   distance        808 non-null    float64
 5   year            1035 non-null   int64
dtypes: float64(3), int64(2), object(1)
memory usage: 48.6+ KB

In [10]:
df.dtypes

method             object
number              int64
orbital_period    float64
mass              float64
distance          float64
year                int64
dtype: object

In [11]:
#Object genelde kategorik değişken olarak görülür 
#fakat bazı durumlarda string olarak da görülebildiği için onu Kategorik değişkene çevirmek yararlı olacaktır.

In [12]:
import pandas as pd

In [13]:
df['method']=pd.Categorical(df.method)

In [14]:
df.dtypes

method            category
number               int64
orbital_period     float64
mass               float64
distance           float64
year                 int64
dtype: object

# Veri Setinin Betimlenmesi

In [15]:
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [16]:
df.shape

(1035, 6)

In [17]:
df.columns

Index(['method', 'number', 'orbital_period', 'mass', 'distance', 'year'], dtype='object')

In [18]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
number,1035.0,1.785507,1.240976,1.000000,1.00000,1.0000,2.000,7.0
orbital_period,992.0,2002.917596,26014.728304,0.090706,5.44254,39.9795,526.005,730000.0
mass,513.0,2.638161,3.818617,0.003600,0.22900,1.2600,3.040,25.0
distance,808.0,264.069282,733.116493,1.350000,32.56000,55.2500,178.500,8500.0
year,1035.0,2009.070531,3.972567,1989.000000,2007.00000,2010.0000,2012.000,2014.0

Veri setindeki kategorik haricindeki değişkenleri inceliyoruz, yorumlar yapıyoruz örneğin:

orbital_period değişkeninin standart sapması çok yüksek bu da ortalamadan uzak değerler demek.
Aynı zamanda orbital_period önemli bir değişken diyebiliriz.

Mass değişkenine baktığımızda ilk başta çok yüksek bir standart sapma olmadığından ötürü değerler arası çok ciddi
bir fark olmadığı düşünülebilir fakat min-max değerlerini göz önünde bulundurduğumuzda bu yorumun yanlış olduğunu 
görebiliriz.

# Eksik Değerlerin İncelenmesi

In [19]:
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [20]:
df.isnull().values.any()  #Hiç boş gözlem(değişken) var mı?

np.True_

In [21]:
df.isnull().sum() #Her değişken için kaçar tane boş gözlem var?

method              0
number              0
orbital_period     43
mass              522
distance          227
year                0
dtype: int64

In [26]:
df["orbital_period"].fillna(df["orbital_period"].mean(),inplace=True) #orbital_period değişkenin boş gözlemlerini hızlı çözüm olarak ortalama ile doldurduk.

C:\Users\Onur Fidan\AppData\Local\Temp\ipykernel_33344\271577634.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["orbital_period"].fillna(df["orbital_period"].mean(),inplace=True) #orbital_period değişkenin boş gözlemlerini hızlı çözüm olarak ortalama ile doldurduk.

In [27]:
df.isnull().sum() #Her değişken için kaçar tane var?

method              0
number              0
orbital_period      0
mass              522
distance          227
year                0
dtype: int64

In [28]:
#Yukarıda yaptığımız işlemle beraber veri setinin yapısını bozmuş olduk.
#Veri setini yedeklediğimiz için ilk haline dönebiliriz.
df=planets.copy()
df.isnull().sum() #Her değişken için kaçar tane var?

method              0
number              0
orbital_period     43
mass              522
distance          227
year                0
dtype: int64

# Kategorik Değişken Özetleri

In [25]:
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

## Sadece Kategorik Değişkenler ve Özetleri

## Kategorik Değişkenin Sınıflarına ve Sınıf Sayısına erişmek